<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypc.orderfooddemo2">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DangNhapActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DangKyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".TrangchuActivity" />
        <activity android:name=".ThemMonAnActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ThemBanAnActivity"
            android:label="Thêm bàn ăn"
            android:theme="@style/PopUpActivity" />
        <activity
            android:name=".ThemLoaiThucDonActivity"
            android:label="Thêm loại thưc đơn"
            android:theme="@style/PopUpActivity" />
        <activity android:name=".ThanhToanActivity" />
        <activity android:name=".SoLuongActivity"
            android:screenOrientation="portrait"
            android:label="Số lượng"
            android:theme="@style/PopUpActivity"></activity>

        <activity android:name=".SuaBanAnActivity"
            android:screenOrientation="portrait"
            android:label="Sửa Bàn Ăn"
            android:theme="@style/PopUpActivity"></activity>
    </application>

</manifest>